*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav{
  background: #000;
}
.container{
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
h1{
  font-size: 40px;
  color: #fff;
}